.header {
    background-color: brown;
}

.background {
    background-color: purple;
    color:white;
}

.footer {
    background-color: pink;
}

/* .select {
    display: flex;
    flex-direction: row;
} */